node_modules
node_modules/*
localtest
sftp-config.json
logs/*
.idea
.idea/*
src/.idea
docs/*.html
*.sublime*
upload
build
*.zip
.vscode
spec/*.txt
!src/bin/files
sql2model
esdoc
npm-debug*
process.dev.json
*.tar.gz
files/*.xlsx
files/*.zip
files/*.csv
coverage